<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Clube do Livro</title>
</head>
<body>
    <h1>Bem-vindas ao clube do Livro <b>Woman Like Read</b></h1>
    <p><a href="login.html"><button>Registrar-Se</button></a></p>
    <p><a href="leitores.html"><button>Leitoras Cadastradas</button></a></p>
    <p><a href="books.html"><button>Livro do mês</button></a></p>
    
</body>
</html>
