<!DOCTYPE html>
<html>
<head>
    <title>Login do Usuário</title>
</head>
<body>
    <div>
        <h1>Login</h1>
        <form action="/fazerlogin" method="POST" name="test">
            <p>Nome: <input type="text" id="inputName" name="inputName"></p>
            <p>Email: <input type="text" id="inputEmail" name="inputEmail"></p>
            <p>Senha: <input type="text" id="inputPassword" name="inputPassword"></p>
            <p><input type="submit" name="enviar"></p>
        </form>
    </div>
</body>

</html>
